node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
./modalExample
./renderPropsTest
./StorageExample
./TimerExperiment
./screens
./copy
./constants
./appycopy
.eslintrc.json
./appjscopy
./screens

# macOS
.DS_Store
